version: "3.9"
services:
  svc_api:
    build:
      context: ./backend
      dockerfile: ./storage/build/Dockerfile
    ports:
      - "3000:3000"
    volumes:
      - ./backend:/usr/src/app
      - /usr/src/app/node_modules
    command: [ "pm2", "start", "./storage/build/ecosystem.config.js", "--no-daemon", "--watch" ]
    depends_on:
      - mysql_db
  mysql_db:
    image: mysql:8.0
    restart: always
    tty: true
    command:
      - --default-authentication-plugin=mysql_native_password
      - --character-set-server=utf8mb4
      - --collation-server=utf8mb4_unicode_ci
    env_file:
      - ./database/mysql/config/.env
    expose:
      - 3306
    ports:
      - "3306:3306"
    volumes:
      - ./database/mysql/data:/var/lib/mysql
      - ./database/mysql/config:/docker-entrypoint-initdb.d
