@mixin font-face($name, $file, $weight: noraml, $style: normal) {
  @font-face {
    font-family: "#{$name}";
    src: url("#{$font-path}/#{$file}.otf") format("opentype");
    font-weight: $weight;
    font-style: $style;
  }
}

@mixin clean() {
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
}

@mixin img($name) {
  background-image: url("#{$img-path}/#{$name}@2x.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-origin: content-box;
  background-position: center;
}

@mixin textGradient($list...) {
  background-image: linear-gradient(to right, $list);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(4px 4px #000);
}

@mixin psudo($size, $img, $direction) {
  @include img($img);
  content: "";
  display: inline-block;
  width: $size;
  height: $size;
  margin-#{$direction}: 10px
}
