@mixin font-face($name, $file, $weight: noraml, $style: normal) {
  @font-face {
    font-family: "#{$name}";
    src: url("#{$font-path}/#{$file}.otf") format("opentype");
    font-weight: $weight;
    font-style: $style;
  }
}

@mixin clean() {
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
}
