$font-path: "@/assets/fonts";
$img-path: "@/assets/images";

// Colors
$light: #ffffff;
$dark: #1e1e1e;
$black: #000000;
$primary: #8e2d95;
$secondary: #5A5156;
$success: #157F1F;
$warning: #f6c744;
$danger: #D12328;
$orange: #E98A15;
$blue: #0D6EFD;
$info: #3d818d;
$gray: #cccccc;
$lightgray: #eeeeee;

$custom-colors: (
        "orange": $orange,
        "legacy": $blue,
);


$dimblue: #407ebd;
$silver-text: #7e7e7e, #bcbcbc, #7e7e7e;


// Font Size
$font-size-base: 1rem;
$font-size-xs: $font-size-base * .6;
$font-size-sm: $font-size-base * .875;
$font-size-md: $font-size-base * 1.25;
$font-size-lg: $font-size-base * 1.5;
$font-size-xl: $font-size-base * 1.75;

// Gradients
$glass-dark: linear-gradient(45deg, rgba(#2f2f2f, 0.43), rgba(#1e1e1e, 0.43));
$glass-dark-rv: linear-gradient(-45deg, rgba(#2f2f2f, 0.43), rgba(#1e1e1e, 0.43));
$hover-border: linear-gradient(135deg, #F6C744, #D4533D, #8E2D95);
$hover-glow-border: linear-gradient(135deg, #F6C744, #D4533D, #8E2D95, #D4533D, #F6C744);
$silver-gradient: linear-gradient(to right, $silver-text);
$roller-gradient: linear-gradient(to bottom, #bbb, #fff, #fff, #fff, #bbb);

// pixels
$glass-border: 8px;
$btn-border-radius: 10rem;
$btn-border-radius-lg: 10rem;
$btn-font-size-lg: $font-size-lg;
$btn-padding-x-lg: 75px;
$btn-padding-y-lg: 12px;
$btn-border-radius-sm: 5rem;
$btn-font-size-sm: $font-size-sm;
$btn-padding-x-sm: 15px;
$btn-padding-y-sm: 5px;
