@import "bootstrap/scss/functions";
@import "@/assets/styles/_variables.scss";
@import "@/assets/styles/_mixins.scss";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/maps";

$theme-colors: map-merge($theme-colors, $custom-colors);
@import "bootstrap/scss/root";
@import "bootstrap/scss/utilities";
@import "bootstrap/scss/transitions";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/forms";
@import "bootstrap/scss/alert";
@import "bootstrap/scss/helpers";
@import "bootstrap/scss/utilities/api";


@include font-face('GmarketSans', 'GmarketSansLight', 300);
@include font-face('GmarketSans', 'GmarketSansMedium');
@include font-face('GmarketSans', 'GmarketSansBold', bold);
body {
  margin: 0;
  background-color: $dark;
}

#app {
  font-family: GmarketSans, sans-serif;
  color: $light;
}

.glass {
  background: $glass-dark;
  box-shadow: 0 1px 2px 2px rgba(#353535, 0.43);
  border-radius: $glass-border;
  padding: 20px 16px;

  .box-label {
    display: inline-block;
    font-size: $font-size-base;
    font-weight: lighter;
    margin-bottom: 16px;
  }
}

.slot-input {
  display: flex;
  box-sizing: border-box;
  background-image: $roller-gradient;
  width: 120px;
  height: 190px;
  font-size: 45pt;
  font-weight: bold;
  text-align: center;
  border-radius: 22px;
}

.button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  button, a {
    margin: 0 auto 18px auto;

    &:nth-last-child(1) {
      margin-bottom: 0;
    }
  }
}

.txt-warning {
  color: $warning;
}

.txt-success {
  color: $success;
}

.txt-0 {
  color: #000;
}

.cc {
  display: inline-block;
  border-radius: 50%;
  background-color: $dark;

  &-20 {
    width: 20px;
    height: 20px;
  }

  &-36 {
    width: 36px;
    height: 36px;
  }

  &-48 {
    width: 48px;
    height: 48px;
  }

  &-64 {
  }

  &-72 {
  }

  &-96 {
  }

  &-144 {
  }

  &-192 {
  }

  &-256 {
  }

  &-512 {
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }

}
