@import "@/assets/styles/app.module.scss";

body {

}

.main {
  box-sizing: border-box;
  overflow: auto;
  background-image: url("#{$img-path}/bg-group-index@1x.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  min-width: fit-content;
  display: flex;
  justify-content: center;

  .contents {
    min-width: 1120px;
    box-sizing: border-box;
    padding-top: 96px;

    .box-label {
      display: inline-block;
      margin-bottom: 16px;
    }
  }
}
