@import "@/assets/styles/app.module.scss";

main {
  flex: 1;
  padding-left: 60px;
  padding-right: 60px;
  background-color: transparent;
}

.body-wrapper {
  box-sizing: border-box;
  overflow: auto;
  background-image: url("#{$img-path}/bg-group-index@1x.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.main {
  min-height: 85vh;
  min-width: fit-content;
  display: flex;
  justify-content: center;

  .contents {
    min-width: 1260px;
    box-sizing: border-box;
    padding-top: 96px;

    .box-label {
      display: inline-block;
      font-size: $font-xs;
      font-weight: lighter;
      margin-bottom: 16px;
    }
  }
}
