@import "@/assets/styles/app.module.scss";

.m {
  &-nav {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    padding: 12px 0;
    background-color: $dark;
    border-bottom: 2px solid $gray-800;
    z-index: 5;
  }

  &-main-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100% - 46px);
    margin-top: 46px;
  }

  &-alert {
    position: fixed;
    box-sizing: border-box;
    top: 46px;
    left: 0;
    z-index: 9;
    width: 100%;
    font-size: $font-size-sm;

    .alert {
      margin: 0 8%;
    }

    .btn-close {
      @include clean();
      height: 100%;
      font-size: $font-size-lg;
      color: $gray-600;
      cursor: pointer;
      margin-right: 10px;
      background-color: transparent;
    }
  }

}
